

<router-outlet>
  <app-navbar></app-navbar>
</router-outlet>


<header class="header">

  <div class="header-banner full-width">
    <div class="banner" *ngIf="isShowBanner"> 
      <img class="banner-img" src="../assets/main-banner.png" alt="">  
    </div>
    <button (click)="isShowBanner = !isShowBanner" style="border: 2px solid silver;">
    {{text}}
    </button>
  </div>
 
</header>

<section class="section section-one container">
  <div class="wraper-section-one">
    <div class="info-block">
      <img src="../assets/buildBlock.svg" alt="">
      <div class="section-one-item">
       <span>Большой ассортимент</span>
       строительных материалов всегда в наличии
      </div>
    </div>
    <div class="info-block">
      <img src="../assets/delivery.svg" alt="">
      <div class="section-one-item">
        <span>Доставка стройматериалов</span>
        в течении четырех часов или в любое удобное время
      </div>
    </div>
    <div class="info-block">
      <img src="../assets/like.svg" alt="">
      <div class="section-one-item">
        <span>Многоуровневая система</span>
        управления качеством по стандарту ISO 9001
      </div>
    </div>
  </div>
</section>

<div class="pagessite section container">
  <div class="pages">
    <button 
      *ngFor="let item of newPages" 
      class="button-page-list active-button">
        {{item}}
    </button>
  </div>
</div>

<br><br><br><br>

<section class="product-classes container">
  
  <div class="item-classes-pesko-struy shadowing">
    <div class="item-title">
      <p>Строительный отделочный инструмент</p>
    </div>
      <div class="pesko-struy">
        <img src="../assets/pesko-struy.svg" alt="">
      </div>
      <button class="arrow-katalog btn-pesko-struy">
        Перейти в каталог
      </button>
  </div>

 
  <div class="kategoriy-emals shadowing">
      <div class="item-title emals">
        <p>Эмали</p>
      </div>
      <div class="emals">
        <img src="../assets/emals.svg" alt="">
      </div>
      <button class="arrow-katalog btn-emals">
        Перейти в каталог
      </button>
  </div>

    <div class="kategoriy-paint shadowing">
      <div class="item-title paint">
        <p>Лакокрасочные материалы</p>
      </div>
      <div class="paint-img">
        <img src="../assets/paint.svg" alt="">
      </div>
      <button class="arrow-katalog btn-paint">
        Перейти в каталог
      </button>
    </div>

    <div class="kategoriy-glu shadowing">
      <div class="item-title klei">
        <p>Пены, клеи и <span> герметики </span></p>
      </div>
      <div class="glu">
        <img src="../assets/glu.svg" alt="">
      </div>
      <button class="arrow-katalog btn-glu">
        Перейти в каталог
      </button>
    </div>

    <div class="kategoriy-rozetka shadowing">
      <div class="item-title rozetka">
        <p>Розетки и выключатели</p>
      </div>
      <div class="rozetka-img">
        <img src="../assets/rozetka.svg" alt="">
      </div>
      <button class="arrow-katalog btn-rozetka">
        Перейти в каталог
      </button>
    </div>

</section>
<br><br><br><br>
<section class="section section-popular container">
<div class="wraper-popular">
  <div class="popular-section-title">
    <p>Популярные товары</p>
    <a>Посмотреть все товары</a>
  </div>

  <div class="card-wrapper">

    <div class="popular-card shadowing">
      <div class="imges">
        <div class="image-title">
          <button class="porsent" style="float: left;">%</button>
          <button class="heart" style="float: right;"></button>
        </div>
      </div>

      <div class="card-content">
        <div class="product-name">
          Круг зачистной 125х6х22
          <span>Артикул 00004</span>
        </div>
        <div class="cost">
          <p>Цена за штуку</p> 
          <div>52 руб.</div><span>48 руб.</span>
        </div>
      </div>

      <div class="order-btn">
        <div class="col">
          <p>Количество </p> 
          <button class="counter">-</button><span>1</span><button class="counter">+</button>
        </div>
        <div class="add-to-card">
          <button class="order-card-btn">В корзину</button>
        </div>
      </div>
    </div>

    <div class="popular-card shadowing">
      <div class="imges">
        <div class="image-title">
          <button class="porsent" style="float: left;">%</button>
          <button class="heart" style="float: right;"></button>
        </div>
      </div>

      <div class="card-content">
        <div class="product-name">
          Круг зачистной 125х6х22
          <span>Артикул 00004</span>
        </div>
        <div class="cost">
          <p>Цена за штуку</p> 
          <div>52 руб.</div><span>48 руб.</span>
        </div>
      </div>

      <div class="order-btn">
        <div class="col">
          <p>Количество </p> 
          <button class="counter">-</button><span>1</span><button class="counter">+</button>
        </div>
        <div class="add-to-card">
          <button class="order-card-btn">В корзину</button>
        </div>
      </div>
    </div>

    <div class="popular-card shadowing">
      <div class="imges">
        <div class="image-title">
          <button class="porsent" style="float: left;">%</button>
          <button class="heart" style="float: right;"></button>
        </div>
      </div>

      <div class="card-content">
        <div class="product-name">
          Круг зачистной 125х6х22
          <span>Артикул 00004</span>
        </div>
        <div class="cost">
          <p>Цена за штуку</p> 
          <div>52 руб.</div><span>48 руб.</span>
        </div>
      </div>

      <div class="order-btn">
        <div class="col">
          <p>Количество </p> 
          <button class="counter">-</button><span>1</span><button class="counter">+</button>
        </div>
        <div class="add-to-card">
          <button class="order-card-btn">В корзину</button>
        </div>
      </div>
    </div>

    <div class="popular-card shadowing">
      <div class="imges">
        <div class="image-title">
          <button class="porsent" style="float: left;">%</button>
          <button class="heart" style="float: right;"></button>
        </div>
      </div>

      <div class="card-content">
        <div class="product-name">
          Круг зачистной 125х6х22
          <span>Артикул 00004</span>
        </div>
        <div class="cost">
          <p>Цена за штуку</p> 
          <div>52 руб.</div><span>48 руб.</span>
        </div>
      </div>

      <div class="order-btn">
        <div class="col">
          <p>Количество </p> 
          <button class="counter">-</button><span>1</span><button class="counter">+</button>
        </div>
        <div class="add-to-card">
          <button class="order-card-btn">В корзину</button>
        </div>
      </div>
    </div>

  </div>

</div>
</section>


<router-outlet></router-outlet>
