.header-banner {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;}


.banner {    
    background: linear-gradient(black, white);
    height: 720px;
    z-index: -1;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to right, Silver, transparent);
    opacity: 0.5;
}
.banner-img {
    min-height: 100%;
    min-width: 1024px;  
    width: 100%;
    height: 720px;  
    top: 128px;
    left: 0;
    z-index: -2;
}

.section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
//    padding: 0 145px;
}


.wraper-section-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.info-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;   
    width: 421px;
}

.section-one-item {
    align-items: center;
    padding: 0 42px 0 0;

}

.section-one-item span {
    font-size: 17px;
    font-weight: bold;
}
.shadowing{box-shadow: 0px 20px 50px 0px #12112714;}


.pagessite {
    display: block;
    float: right;
}
.pages {
    margin: 28px 0 160px 0;
}
.button-page-list{
    color: #A1A0A0;
}
.active-button:first-child{
    color: #F0BA4E;
}

.product-classes {
    width: 1320;
    height: auto;
//    padding: 0 145px;
    display: grid;
    grid-template-columns: 421px 421px 421px;
    grid-template-rows: 200px 200px;
    grid-auto-rows: 1fr;
    gap: 18px;
    grid-auto-flow: row;
    grid-template-areas:
    "main second thert"
    "main fourth fiveth";
}

.item-title p {
    padding: 0;
    margin: 16px 16px 0 16px;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
}

.emals {
    float: right;
}
.paint {
    width: 100px;
}
  
.item-classes-pesko-struy { 
    grid-area: main;
    gap: 0px 0px;
    width: 421;
    height: 428;
}



.pesko-struy { 
    position: relative;
    background-position: bottom;
    float: left; 
    top: 30px; 
    left: 0px; 
    width: 386;
    height: 386;
}
  
.kategoriy-emals {     
    grid-area: second; 
}
  
.kategoriy-paint {
    grid-area: thert;
    float: right; 
}

.kategoriy-glu { 
    grid-area: fourth;

}
  
.kategoriy-rozetka {    
    grid-area: fiveth; 
}
  
  
.arrow-katalog {
    position: relative;
    display: flow-root;   
    justify-content: center;
    width: 178px;
    height: 40px;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    background: url('../assets/arrow.svg') no-repeat right;
    background-size: 40px;
    padding: 0 40px 0 0;
    margin: 16px 16px 16px 16px;
}
.btn-pesko-struy {
    top: -40px;
    float: right;
}
.btn-emals {
    float: right;
    top: -56px;
}
.btn-paint {
    top: 60px;
}
.btn-glu {
    position: relative;
    top: 60px;
}
.btn-rozetka {
    position: relative;
    float: right;
    top: -50px;
}
.paint-img {
    float: right;
    position: relative;
    top: -13px;
}
.glu {
    position: relative;
    float: right;
    top: -73px;
}
.klei {
    width: 205px;
}
.rozetka-img {
    position: relative;
    top: 20px;
}

.section-popular {
    height: 491px;
    display: flex;
    justify-content: space-around;
}
.popular-section-title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: wrap;
    width: 100%;
    height: 22px;
    margin-bottom: 20px;
}
.popular-section-title p {
    font-weight: 500;
    font-size: 28px;
    margin: 0;
}
.popular-section-title a {
    color: #F0BA4E;
}
.wraper-popular {
    display: flex;
    justify-content: left;
    width: 100%;
    flex-wrap: wrap;    
}

.card-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;  
}
.popular-card {
    width: 309px;
    height: 429px;
    padding: 24px;
    box-shadow: 0px 20px 50px 0px #12112714;
}
.imges{
    width: 261px;
    height: 180px;
    border-radius: 14px;
    background-image: url('../assets/disk.png');
    padding-bottom: 10px;
}
.porsent {
    width: 54px;
    height: 39px;
    font-size: 16px;
    color: white;
    background-color: #FA5D69;
    border-radius: 61px;
}
.heart {
    background-image: url('../assets/heart.svg');
    width: 24px;
    height: 39px;
    padding: 12px;
}



.card-content {
    display: flex;
    flex-direction: column;
    color: #3C3C3B;
}



.product-name {
    font-size: 20px;
    font-weight: 600;
}
.product-name span {
    font-size: 16px;
    font-weight: 500;
}



.cost p {
    font-size: 16px;
    font-weight: 500;
    color: #A1A0A0;
    margin-top: 20px;
    margin-bottom: 8px;
}
.cost div {
    font-size: 16px;
    font-weight: 600;
    display: inline;
    text-decoration: line-through;
    padding-right: 10px;
}
.cost span {
    font-size: 20px;
    font-weight: 600;
}




.order-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 261px;
    margin-top: 10px;
}
.counter {
    font-weight: 400;
    font-size: 16px;
    width: 11;
    height: 19;
}
.add-to-card {}
.order-card-btn {
    width: 135;
    height: 47;
    font-weight: 500;
    font-size: 16px;
    border-radius: 54px;
    border: 1px solid #F0BA4E;
    gap: 10px;
    padding-top: 14px;
    padding-right: 28px;
    padding-bottom: 14px;
    padding-left: 28px;
    border-width: 1px;
}

