<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.scss">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  
  <header class="header">
    <nav class="top-bar">

      <section class="top-bar-left">
        <ul class="nav-list">
          <li class="top-nav-item">
            <img src="../assets/Frame.svg" alt="Logo">
          </li>
          <li class="top-nav-item"><a href="#">Главная</a></li>
          <li class="top-nav-item"><a href="#">О компании</a></li>
          <li class="top-nav-item"><a href="#">Каталог</a></li>
        </ul>
      </section>

      <section class="top-bar-right">
        <ul class="nav-list">
          <li class="top-nav-item">
            <a href="#" class="top_header_phone_icon">
              <img src="../assets/phone.svg" class="phone_icon" alt="">
              <span>+7 (965) 084-29-29</span>
            </a>
          </li>
          <li class="top-nav-item"><a href="#" class="favorite"><img src="../assets/favorite.svg" alt=""></a></li>
          <li class="top-nav-item">
            <button class="order_card" href="#">
              <img alt="" src="../assets/card.svg">
              <span>Пусто</span>
            </button>
          </li>
        </ul>
      </section>
    </nav>

    <nav class="bottom-bar">
      <section class="bottom-bar-left">
        <ul class="nav-list">
          <li class="bottom-nav-item">
            <a href="#">
              <img src="../assets/menu.svg" alt="">
            </a>
          </li>
          <li class="bottom-nav-item"><a href="#">Каталог</a></li>
          <li class="bottom-nav-item"><a href="#">Стройматериалы</a></li>
          <li class="bottom-nav-item"><a href="#">Инструменты</a></li>
          <li class="bottom-nav-item"><a href="#">Электрика</a></li>
          <li class="bottom-nav-item"><a href="#">Интерьер и одежда</a></li>
        </ul>
      </section>
      <section class="bottom-bar-right">
        <ul class="nav-list">
          <li class="bottom-nav-item">
            <form>
              <input type="text" class="search-input icon" value placeholder="Поиск, например Круг зачистной">
            </form>
          </li>
          <li class="bottom-nav-item">
            <a href="#" class="bottom_header_location_icon">
              <img src="../assets/location.svg" class="location_icon" alt="">
              <span>Москва</span>
            </a>
          </li>
        </ul>
      </section>
    </nav>
    <div>
      <img src="../assets/Rectangle.png" alt="">
    </div>
  </header>

</body>
</html>